notebooks/plot_input_data/*
!notebooks/plot_input_data/atmospheric_forcing.ipynb
!notebooks/plot_input_data/surface_data.ipynb

notebooks/technical_paper_results/*

resources/archives
resources/cases
resources/ctsm
resources/data
resources/model
resources/cases.sqlite

.env
.ipynb_checkpoints
