notebooks/plot_input_data/*
!notebooks/plot_input_data/atmospheric_forcing.ipynb
!notebooks/plot_input_data/surface_data.ipynb
!notebooks/plot_input_data/dicts/

resources/archives
resources/cases
resources/ctsm
resources/data
resources/cases.sqlite

.env
.ipynb_checkpoints
