[cism]
local_path = .
protocol = externals_only
externals = Externals_CISM.cfg
required = True

[cime]
local_path = cime
protocol = git
repo_url = https://github.com/ESMCI/cime
tag = cime5.8.28
required = True

# Include components needed to run an I compset

[ctsm]
local_path = components/clm
protocol = git
repo_url = https://github.com/ESCOMP/ctsm
tag = ctsm1.0.dev105
externals = Externals_CLM.cfg
required = True

[mosart]
local_path = components/mosart
protocol = git
repo_url = https://github.com/ESCOMP/mosart
tag = mosart1_0_36
required = True

[externals_description]
schema_version = 1.0.0
